:root{
    --font: 'Roboto', 'Roboto Mono', 'Poppins', 'Reddit Sans Condensed', 'Open Sans'
    'Montserrat';
}

body {
    font-family: 'Montserrat', sans-serif;
}

.carousel-item img {
    height: 65vh;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.container {
    margin-top: 20px;
}
